<% content_for(:title, 'New Sections') %>

<% content_for(:navbar) do %>
<li><a href="/">Sections</a></li>
<li><a href="/lessons/">Lessons</a></li>
<% end %>

<h1>Create a New Section</h1>

<% if @section.errors.any? %>
  <h3>These are your errors. FIX THEM!</h3>
  <ul>
    <% @section.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/sections" method="post">
  <label for="section_name">Section Name</label>
  <input id="section_name" name="section[name]" type="text">
  <label for="section_number">Section Number</label>
  <input id="section_number" name="section[section_number]" type="text">
  <p><button>Add Section</button>
<form>
