<% content_for(:title, 'New Sections') %>

<% content_for(:navbar) do %>
<li><a href="/">Sections</a></li>
<li><a href="/lessons/">Lessons</a></li>
<% end %>

<h1>Create a New Section</h1>

<%= render('errors') %>


<form action="/sections" method="post">
  <%= render('form_sections') %>
  <p><button>Add Section</button>
<form>
