<% content_for(:title, 'New Sections') %>

<% content_for(:nav) do %>
<a href="/">Sections</a>
<a href="/lessons/">Lessons</a>
<% end %>


<h1>Create a New Section</h1>

<%= render('errors') %>


<form action="/sections" method="post">
  <%= render('form_sections') %>
  <p><button class="btn btn-warning">Add Section</button>
<form>
