<% content_for(:title, 'Edit Lessons') %>

<% content_for(:nav) do %>
  <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/">Sections</a></li>
      <li><a href="/lessons/">Lessons</a></li>
    </ul>
  </div>
<% end %>


<h1>Edit <%= @lesson.name %></h1>

<%= render('errors') %>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form_lessons') %>
</form>
