<h1>Lessons</h1>

<% ordered_lessons = @lessons.sort_by{|lesson| lesson.lesson_number} %>

<ul>
  <% ordered_lessons.each do |lesson| %>
  <li><a href='lessons/<%= lesson.id %>'>"<%= lesson.name %></a></li>
  <% end %>
</ul>

<p><a href='lessons/new'>Add a lesson</a></p>
