<% content_for(:title, 'New essons') %>

<% content_for(:nav) do %>
<a href="/">Sections</a>
<a href="/lessons/">Lessons</a>
<% end %>


<h1>Create a new lesson</h1>

<%= render('errors') %>


<form action="/lessons" method="post">
  <%= render('form_lessons') %>
</form>
