<h1>Create a new lesson</h1>

<% if @lesson.errors.any? %>
  <h3>These are your errors. FIX THEM!</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons" method="post">
  <label for="lesson_name">Lesson Name</label>
  <input id="lesson_name" name="lesson[name]" type="text">
  <label for='lesson_num'>Lesson Number</label>
  <input id='lesson_num' name='lesson[lesson_number]' type='text'>
  <p></p>
  <label for="lesson_content">Lesson Content</label>
  <p><textarea id="lesson_content" name="lesson[content]" rows="20" cols="50" placeholder="Write Content Here"></textarea>
  <p><button>Add Lesson and Content</button>
<form>
