<h1><%= @lesson.name %></h1>

<p><%= @lesson.lesson_number %></p>
<p><%= @lesson.content %></p>

<p><a href='/lessons/<%= @lesson.id %>/edit'>Edit Lesson</a></p>
<p><a href='/lessons'>Return to Home</a></p>
